extends layout

block content
    div(class="row")
        div(class="col-sm-1")
            img(src="images/Twitter_Logo_WhiteOnBlue.png" align="left" width="64px")
        div(class="col-sm-11")
            h1 VISION: Data Collection
    div(class="card")


        form(method='POST', action='/auto')
            #form-group
                label #{monitoredWord}
                input.form-control(name='word1', type='text', hidden = isHidden)
                input.form-control(name='word2', type='text', hidden = isHidden)
                input.form-control(name='word3', type='text', hidden = isHidden)
                input.form-control(name='word4', type='text', hidden = isHidden)
                input.form-control(name='word5', type='text', hidden = isHidden)

            input.btn.btn-primary(type='submit', value = toggle)
        br
        br
        h6 Status: #{status}
