extends layout

include ./mixins/queryFilter

block content
	#container
		#deckmap
		button(data-toggle="collapse" data-target="#panels" class="btn btn-dark hoverable" style="position: relative;") Hide/Show
		.loader
		#panels.collapse.show
			#stats-panel(style="display: none;").d-none.d-md-block
				#stats-container
					.row
						.col-md-12
							.row
								h3 Crime Stats
							.row
								hr
							.row
								#stats-date-range
							.row
								#stats-total 
							.row
								#stats-crimes 
							.row
								h3 Tweets
							.row
								hr
							.row
								#stats-tweets

		#tooltip(style="visibility: hidden")
		#panels.collapse.show
			#control-panel
				.container-fluid
					.row.my-3
						.col-md-12
							p.h2 30.0K
								span(style="font-size: 12px; margin-left: 0.5em") tweets aggregated
							hr
							p.h6 Tweet Layer
							#radius-control.form-group(style="display: flex;")
								span(for="radius-tweet-handle") Radius
								input#radius-tweet-handle.custom-range(type="range" min="100" max="800" step="10" value="200" style="margin: 0 1em 0 1em;")
								span#radius-tweet-value 200
								span m
							.custom-control.custom-checkbox.mb-2
								input#visible-tweet-handle.custom-control-input(checked name="visible-tweet-handle", type="checkbox")
								label.custom-control-label(for="visible-tweet-handle", hidden = isHidden) Visible
							.custom-control.custom-checkbox.mb-2
								input#extruded-tweet-handle.custom-control-input(checked name="extruded-tweet-handle", type="checkbox")
								label.custom-control-label(for="extruded-tweet-handle", hidden = isHidden) Extruded
					
					//-.row.my-3
						.col-md-12
							p.h6 Crime Layer
							.crime-color(style="background: rgba(65, 244, 113);")
							.crime-color(style="background: rgba(66, 244, 244);")
							.crime-color(style="background: rgba(66, 194, 244);")
							.crime-color(style="background: rgba(66, 134, 244);")
							.crime-color(style="background: rgba(69, 66, 244);")
							.crime-color(style="background: rgba(244, 66, 244);")
							.crime-color(style="background: rgba(188, 66, 244);")
							.crime-color(style="background: rgba(244, 66, 66);")

					.row.my-3
						.col-md-12
							p.h6 Trajectory Layer
							.custom-control.custom-checkbox.mb-2
								input#visible-trajectory-handle.custom-control-input(checked name="visible-trajectory-handle", type="checkbox")
								label.custom-control-label(for="visible-trajectory-handle", hidden = isHidden) Visible
							.custom-control.custom-checkbox.mb-2
								input#visible-type-trajectory-handle.custom-control-input(checked name="visible-type-trajectory-handle", type="checkbox")
								label.custom-control-label(for="visible-type-trajectory-handle", hidden = isHidden) Restrict Trajectory to Crime Type

					.row.my-3
						.col-md-12
							p.h6 Centroid Layer
							.custom-control.custom-checkbox.mb-2
								input#visible-centroid-handle.custom-control-input(checked name="visible-centroid-handle", type="checkbox")
								label.custom-control-label(for="visible-centroid-handle", hidden = isHidden) Visible

					.row
						.col-md-12
							+queryFilter
						br
						br
		#footnote.d-none.d-md-block
			span Hold down shift to rotate
	script(src="https://unpkg.com/deck.gl@~5.2.0/deckgl.min.js")
	script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js")
	script(src="./scripts/deckgl_render.js")
	link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css")