extends layout

append head
	title VisCrime - Explore
	link(type="text/css" rel="stylesheet" href="/stylesheets/extras/noUiSlider/nouislider.css" media="screen,projection")
	script(type="text/javascript" src="/stylesheets/extras/noUiSlider/nouislider.js")

include ./mixins/dataPanel
include ./mixins/statsPanel

block content
	//-Displays the map
	#map-container
		#deckmap
		button#toggle-panels(class="waves-effect waves-light btn-small" onClick="togglePanels()") Hide Panels
		+dataPanel
		+statsPanel
		#tooltip(style="visibility: hidden")

	script(type="text/javascript" src="https://unpkg.com/deck.gl@~5.2.0/deckgl.min.js")
	script(type="text/javascript" src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js")
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
	script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js")
	
	script(type="text/javascript" src="./scripts/deckgl_render.js")
	link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css")
