extends layout

append head
	link(type="text/css" rel="stylesheet" href="/stylesheets/extras/noUiSlider/nouislider.css" media="screen,projection")
	script(type="text/javascript" src="/stylesheets/extras/noUiSlider/nouislider.js")

include ./mixins/queryFilter

block content
	#map-container
		#deckmap
		#control-panel.map-panel
			ul.collapsible.expandable
				li.active 
					.collapsible-header
						.container(style="margin: 0; width: 100%;")
							.row(style="margin: 0;")
								.col.s10
									span #[strong Select Visualisation]
								.col.s2
									span
										i.fas.fa-angle-down.collapsible-header-icon
					#preset-selection-panel.collapsible-body
						.container(style="margin: 0; width: 100%;")
							.row(style="margin: 0;")
								.col.s12
									p
										label
											input(type="radio" name="preset-select" value="tweet-density" checked)
											span Tweet Density
									p
										label
											input(type="radio" name="preset-select" value="crime-trajectories")
											span Crime Trajectories
				li.active#menu-tweet-density
					.collapsible-header
						.container(style="margin: 0; width: 100%;")
							.row(style="margin: 0;")
								.col.s10
									span #[strong Tweet Density]
								.col.s2
									span
										i.fas.fa-angle-down.collapsible-header-icon
					#tweet-density-data-panel.collapsible-body
						.container(style="margin: 0; width: 100%;")
							.row(style="margin: 0;")
								input-field.col.s12
									button.btn.waves-effect.waves-light(type="submit" onclick="renderLayers()") Update Map
				li.active#menu-crime-trajectories
					.collapsible-header
						.container(style="margin: 0; width: 100%;")
							.row(style="margin: 0;")
								.col.s10
									span #[strong Crime Trajectories]
								.col.s2
									span
										i.fas.fa-angle-down.collapsible-header-icon
					#crime-trajectories-data-panel.collapsible-body
						.container(style="margin: 0; width: 100%;")
							.row
								+queryFilter
		#right-panel.map-panel
			ul.collapsible.expandable
				li.active 
					.collapsible-header
						.container(style="margin: 0; width: 100%;")
							.row(style="margin: 0;")
								.col.s10
									span #[strong Display Options]
								.col.s2
									span
										i.fas.fa-angle-down.collapsible-header-icon
					#display-options-panel.collapsible-body
						.container(style="margin: 0; width: 100%;")
							.row.valign-wrapper(style="margin: 0;")
								.col.s3
									p.left-align
										label(for="radius-tweet-handle") Radius
								.col.s6
									input-field
										p
											#radius-tweet-handle
								.col.s3
									p
										label 
											span#radius-tweet-value
											span m
				li.active
					.collapsible-header
						.container(style="margin: 0; width: 100%;")
							.row(style="margin: 0;")
								.col.s10
									span #[strong Statistics]
								.col.s2
									span
										i.fas.fa-angle-down.collapsible-header-icon
					#statistics-panel.collapsible-body
						#statistics-tweet-density
							.container(style="margin: 0; width: 100%;")
								.row(style="margin: 0;")
									.col.s12
										.legend(style="background: rgb(29, 161, 242) none repeat scroll 0% 0%;")
										.legend(style="background: rgb(73, 227, 255) none repeat scroll 0% 0%;")
										.legend(style="background: rgb(216, 254, 181) none repeat scroll 0% 0%;")
										.legend(style="background: rgb(254, 237, 177) none repeat scroll 0% 0%;")
										.legend(style="background: rgb(254, 173, 84) none repeat scroll 0% 0%;")
										.legend(style="background: rgb(209, 55, 78) none repeat scroll 0% 0%;")
								.row(style="margin: 0;")
									.col.s6
										p.left-align
											label Less Tweets
									.col.s6
										p.right-align
											label More Tweets
						#statistics-crime-trajectories
							.container(style="margin: 0; width: 100%;")
								.row(style="margin: 0;")
									.col.s12
										#crime-type-legend
								.row(style="margin: 0;")
									.col.s12
										canvas#crimeTrajectoriesTimeline
		#tooltip(style="visibility: hidden")

	script(type="text/javascript" src="https://unpkg.com/deck.gl@~5.2.0/deckgl.min.js")
	script(type="text/javascript" src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js")
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
	script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js")
	
	script(type="text/javascript" src="./scripts/deckgl_render.js")
	link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css")
