//-Lookup page to view images in the database
extends layout

append head
	title VisCrime - Image Search

block content
	.container
		.section
			.row
				.col.s12.m3
					//- form for querying the local database
					form#dbimagesform(action="/imagesearch", method="POST")
						.row
							input-field.col.s12
								label(for="db_count") Amount of Results
								input#db_count(type="text", name="db_count", placeholder="Default: 20")
						.row
							input-field.col.s12
								label(for="word") Enter Keyword ('Assault', 'Drugs','Gun', 'Homicide', 'Hostage', 'PropertyDamage', 'SexOffence', 'Theft', 'Vehicular')
								input#word(type="text", name="word", placeholder="e.g. assault")
						.row
							input-field.col.s12
								button.btn.waves-effect.waves-light(type="submit") Filter
				.col.s12.m9.l9
					each image, index in data
						.row(style="margin: 0;")
							.col.s12
								.card
									.card-content
										.row(style="margin: 0;")
											.col.s4
												img(src=`${'http://43.240.97.137/images/' + image.image_url}` width="100" height="100")
											.col.s8
												p #{image.full_text}
