//-Lookup page to view images in the database
extends layout

append head
	title VisCrime - Image Search

block content
	.container
		.section
			.row
				.col.s12.m3
					//- form for querying the local database
					form#dbimagesform(action="/imagesearch", method="POST")
						.row
							input-field.col.s12
								label(for="db_count") Amount of Results
								input#db_count(type="text", name="db_count", placeholder="Default: 20")
						.row
							input-field.col.s12
									label Crime Types
									p
										label
											input(name='crimes', type='checkbox', value='1')
											span NoCrime
									p
										label
											input(name='crimes', type='checkbox', value='2')
											span Assault
									p
										label
											input(name='crimes', type='checkbox', value='4')
											span Theft
									p
										label
											input(name='crimes', type='checkbox', value='8')
											span Gun
									p
										label
											input(name='crimes', type='checkbox', value='16')
											span Drugs
									p
										label
											input(name='crimes', type='checkbox', value='32')
											span Property Damage
									p
										label
											input(name='crimes', type='checkbox', value='64')
											span Homicide
									p
										label
											input(name='crimes', type='checkbox', value='128')
											span Vehicular
									p
										label
											input(name='crimes', type='checkbox', value='256')
											span Sex Offence
									p
										label
											input(name='crimes', type='checkbox', value='512')
											span Hostage
						.row
							input-field.col.s12
								button.btn.waves-effect.waves-light(type="submit") Filter
				.col.s12.m9.l9
					each image, index in data
						.row(style="margin: 0;")
							.col.s12
								.card
									.card-content
										.row(style="margin: 0;")
											.col.s4
												img(src=`${image.image_url}` width="100" height="100")
											.col.s8
												p #{image.full_text}
