doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    script(src="./scripts/map_render.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="card")
      nav(class="navbar navbar-expand-sm bg-white navbar-light")
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link" href="/") Home
          li(class="nav-item")
            a(class="nav-link" href="/auto") Auto
          li(class="nav-item")
            a(class="nav-link" href="/check") Check
          li(class="nav-item")
            a(class="nav-link" href="/visualisation") Visualisation
          li(class="nav-item")
            a(class="nav-link" href="/tweetMap") Map
          li(class="nav-item")
            a(class="nav-link" href="/chicago") Chicago
          li(class="nav-item")
            a(class="nav-link" href="/seattle") Seattle
          li(class="nav-item")
            a(class="nav-link" href="/baltimore") Baltimore
    block content
