doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    
    //- fonts
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    
    //- css
    link(type="text/css" rel="stylesheet" href="stylesheets/css/materialize.min.css" media="screen,projection")
    link(type="text/css" rel="stylesheet" href="stylesheets/css/style.css" media="screen,projection")
    
    //- scripts
    script(type="text/javascript" src="stylesheets/js/materialize.min.js")
    script(src="./scripts/map_render.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js") 
    //- md-bootstrap (gonna remove this soon ayy lmao)
    //- link(rel='stylesheet' href='/stylesheets/css/bootstrap.min.css')
    //- link(rel='stylesheet' href='/stylesheets/css/mdb.min.css')
    //- script(type='text/javascript' src="/stylesheets/js/popper.min.js")
    //- script(type='text/javascript' src="/stylesheets/js/bootstrap.min.js")
    //- script(type='text/javascript' src="/stylesheets/js/mdb.min.js")
  body
    nav.grey.darken-4(role="navigation")
      .nav-wrapper.container
        a#logo-container.brand-logo(href="/") VisCrime
        ul.right.hide-on-med-and-down
          li
            a(href="/deckmap") Map
          li
            a(href="/browseTwitter") Browse
          li
            a(href="/list") Tweets
          li
            a(href="/auto") Config
    //- header
    //-   nav.navbar.navbar-expand-lg.navbar-dark.elegant-color
    //-     a.navbar-brand(href='/') VISION
    //-     div
    //-       button.navbar-toggler(type='button' data-toggle='collapse' data-target='#basicExampleNav' aria-controls='basicExampleNav' aria-expanded='false' aria-label='Toggle navigation')
    //-         span.navbar-toggler-icon
    //-       #basicExampleNav.collapse.navbar-collapse
    //-         ul.navbar-nav.mr-auto
    //-           li.nav-item
    //-             a.nav-link(href='/browseTwitter') Browse
    //-           li.nav-item
    //-             a.nav-link(href='/deckmap') Map
    //-           li.nav-item
    //-             a.nav-link(href='/list') Tweets
    //-           li.nav-item.dropdown
    //-             a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Configure
    //-             .dropdown-menu.dropdown-primary(aria-labelledby='navbarDropdownMenuLink')
    //-               a.dropdown-item(href='/auto') Monitor
    //-               a.dropdown-item(href='/check') Manual Checking
    //-           li.nav-item.dropdown
    //-             a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Crime Statistics
    //-             .dropdown-menu.dropdown-primary(aria-labelledby='navbarDropdownMenuLink')
    //-               a.dropdown-item(href='/chicago') Chicago
    //-               a.dropdown-item(href='/seattle') Seattle
    //-               a.dropdown-item(href='/baltimore') Baltimore
    //-     ul.nav.navbar-nav.nav-flex-icons.ml-auto
    //-       li.nav-item
    //-         a.nav-link(href='http://github.com/101628885/TwitterVisualiser')
    //-           i.fa.fa-github
    //-           span.clearfix.d-none.d-sm-inline-block GitHub

    //- main content
    block content
