extends layout

append head
	title VisCrime - Scanner

block content
	.container
		.section
			.row
				.col.s12.m6.l6
					h4 Image Crime Classifer
					p Send an image to check with our crime classification model
					
					.row
						form.form#dbimagesform(action="/scan", method="POST")
							.col
								input.form-control(type="file", name="file")
								button.btn.waves-effect.waves-light(onclick="scanImage()") Submit
					.row
						code
							pre#result
					.row
						img(id="imageDisplay", hidden=true)
	script(type="text/javascript" src="./scripts/image_scanner.js")