extends layout

append head
	title VisCrime - Scanner

block content
	.container
		.section
			.row
				.col.s12.m6
					h4 Image Crime Classifer
					p Send an image to check with our crime classification model
					
					.row
						//- form.form#dbimagesform(action="/scan", method="POST", enctype="multipart/form-data")
						.col
							input.form-control(type="file", name="file")
							button.btn.waves-effect.waves-light(onclick="scanImage()") Predict
					.row
						div#predSpinner
						img(id="imageDisplay", hidden=true)
				.col.s12.m6
					.row
						.col.s8.m8(style="margin-top: 0.5em;")
							h5#predTitle Prediction:
							h4#pred(style="font-weight:bold")
						.col.s4.m4
							table#predTable(style='width:100%', border='1')
								tr
									th Crime Type
									th Probability (%)
								tr
									td High Crime
									td#highC 
								tr
									td Low Crime
									td#lowC
								tr
									td No Crime
									td#noC

	script(type="text/javascript" src="./scripts/image_scanner.js")