/* CSS Styling for D3 charts */

.arc text {
    font: 12px arial;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.title {
    fill: green;
    font-weight: italic;
}

#d3Div {
    text-align: center;
}