/* containers */
html,
body,
#outer {
  height: 100%;
  width: 100%;
}

#map-container {
  width: 100vw;
  position: absolute;
}

body:not(#map body) {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#filterform {
  position: absolute;
  z-index: 1;
}

nav {
  height: 9vh;
}

/* tweet card */

.card {
  background-color: white;
  border-width: 0.2em;
}

.card-body {
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "tweetdp tweetheader"
    "tweetdp tweetbody";
}

#tweetdp {
  grid-area: tweetdp;
  display: inline-block;
  width: 48px;
}

#tweetheader {
  grid-area: tweetheader;
}

#tweetbody {
  grid-area: tweetbody;
}

p {
  margin: 0;
}

/* typography */

.thicc {
  font-weight: bold;
}

h1:not(#map h1) {
  color: white;
}

#hometext {
  margin-top: 8em;
  animation: fadein 2s;
}

.jumbotext {
  font-size: 56px;
}

@keyframes fadein {
  from {
    opacity: 0;
    padding-top: 2em;
  }
  to {
    opacity: 1;
    padding-top: 0em;
  }
}

.viscrime-navicon {
  font-size: 17px;
  margin: 0 5px 0 5px;
}

.collapsible-header-icon {
  font-size: 10px;
  margin: 0px;
}

/* google maps module */

#map {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}

/* deckgl module */

#deckmap {
  width: 100vw;
  height: 91vh;
  position: absolute;
}

.collapsible-body {
  background-color: white;
  overflow-y: scroll;
  padding: 1em;
}

#preset-selection-panel {
  max-height: 15vh;
}

#tweet-density-data-panel {
  max-height: 50vh;
}

#crime-trajectories-data-panel {
  max-height: 50vh;
}

#display-options-panel {
  max-height: 20vh;
}

#statistics-panel {
  max-height: 45vh;
}

#right-panel {
  top: 2rem;
  right: 8px;
}

.map-panel {
  position: absolute;
}

#toggle-panels {
  position: absolute;
}

/* large desktop devices */
@media (min-width: 1200px) {
  .map-panel {
    width: 20%;
  }
}

/* desktop devices */
@media (max-width: 1200px) {
  .map-panel {
    width: 25%;
  }
}

/* mobile devices and tablets */
@media (max-width: 992px) {
  .map-panel {
    width: 90%;
  }
}

#control-panel {
  top: 2rem;
  left: 8px;
}

/* #stats-panel {
  position: absolute;
  right: 0;
  padding: 1em 1em 0 1em;
  margin-top: 0.8rem;
  background-color: white;
  max-height: 500px;
  height: auti;
  max-width: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius:  0.825rem 0 0 0.8rem;
  font-size: 0.825rem;
} */

#stats-container {
  position: relative;
  padding: 1em 1em 0 1em;
}

#footnote {
  position: absolute;
  margin: 2em;
  color: lightslategray;
  top: 0;
  right: 0;
}

.legend {
  display: inline-block;
  height: 12px;
  width: 16.667%;
}

.tooltip-legend {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 5px;
}

#tooltip {
  font-size: 11px;
  position: absolute;
  padding: 10px;
  margin: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  z-index: 9;
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 45%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.crime-color {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0);
}

.dot {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#predSpinner {
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#predSpinner.show {
  visibility: visible;
}
